@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --color-brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    --color-text: #fff;
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, 
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--color-brand);
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--color-brand) !important; 
}

.owl-dot.active span{
    background-color: var(--color-brand) !important;
}


/* slide */

.slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/Slide-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/Slide-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

/* **************************************************** */

/* Icon */

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--color-brand);
}

/* **************************************************** */

/* navbar */

.navbar {
    box-shadow: var(--shadow);
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--color-brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--color-brand);
}

.navbar-brand .navbar-logo {
    width: 45px;
    height: auto;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

/* **************************************************** */

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--color-brand);
    background-color: var(--color-brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

/* **************************************************** */

/* Footer */

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 44, 50, 0.9)), url(../img/Car-Banner.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top p {
    color: var(--color-text);
    font-size: 25px;
}

footer .footer-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 5px;
}

footer .footer-bottom {
    color: var(--color-text);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* **************************************************** */